* {
  margin: 0;
  padding: 0;
  background-color: #daf5ff;
}

body {
  border: 10px solid black;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
}

.kalam-img {
  max-width: 40%;
  border-radius: 50%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.kalam-name h1 {
  font-size: 3.2rem;
}

.kalam-name h4 {
  text-align: end;
}

.about {
  margin-top: 80px;
}

.about h2 {
  font-size: 4rem;
  font-weight: bold;
}

.about p {
  line-height: 1.5;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: justify;
}

.biographies {
  margin-top: 50px;
}

.biographies h3 {
  font-size: 2rem;
}

.biographies ul {
  margin-left: 30px;
  margin-top: 20px;
}

.biographies li {
  line-height: 2;
  font-size: 1.2rem;
}

footer {
  margin: 30px 30px;
  text-align: end;
}
